@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'mapbox-gl/dist/mapbox-gl.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* button */
/* button {
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.7);
} */

/* text */
p {
  font-size: 1vw;
}

h1 {
  font-size: 3vw;
}