@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://jeffreymaniac.github.io/OpenDyslexic-font-for-css/opendyslexic.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #83b271;
  --secondary-color: #111111;
  --tertiary-color: #ffffff;
  --accent-color: #a0c492;
  --highlight-color: #689c54;
  --dark-color: #2a2a2a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dyslexia-font {
  font-family: 'OpenDyslexic', Arial, sans-serif;
}

:focus {
  outline: var(--outline-style, none);
}

body.high-contrast {
  background-color: black;
  color: white;
}

body.high-contrast a {
  color: yellow;
}

/* text */
p {
  font-size: clamp(0.9rem, 1vw, 1.2rem);
}

h1 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}


html,
body {
  background-color: var(--primary-color);
}

/* Map container styles */
.map-container {
  border-radius: 15px;
  /* Add rounded corners */
  overflow: hidden;
  /* Ensure content doesn't overflow the rounded corners */
}

.ol-zoom {
  bottom: 2rem;
  right: 1rem;
  top: auto;
  left: auto;
  position: absolute;
}